---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404" footerLess>
  <section class="flex flex-col justify-center py-20 w-full h-full text-center font-light dark:text-white">
    <h1 class="font-extrabold text-4xl sm:text-6xl md:text-7xl lg:text-8xl mb-8">404</h1>
    <p>Seems you lost, back to <a href="/" class="underline underline-offset-8 hover:text-red-500 transition-color">home</a></p>
  </section>
</Layout>
