body::before {
  background-image: radial-gradient(#444cf7 1px, #ddd 1px);
  background-size: 20px 20px;
  content: '';
  z-index: -1;

  @apply fixed top-0 left-0 h-screen w-screen bg-white opacity-40;
}

.dark body::before {
  background-image: radial-gradient(#444 1px, #000 1px);

  @apply bg-black opacity-95;
}

::selection {
  @apply text-gray-100 bg-red-500;
}
